_ie = false unless _ie is defined

@import '../node_modules/noscript/css/noscript.css'

body
  font: 12pt Arial
  color: #111
  background: #EEE

.island
  background: #FFF
  width: 800px
  padding: 1em
  margin: 1em auto
  box-shadow: 0 1px 3px #DDD

.image-thumb
  display: inline-block
  margin: 1em

.slideshow-play
  cursor: pointer
  width: 36px
  height: 32px
  background: url('play.png') 0 0 no-repeat
  display: inline-block

  &.slideshow-play-active
    background-image: url('pause.png')

.github-search-box
  font-size: 100%
  width: 50%

.github-userpic
  width: 60px
  height: 60px
  display: inline-block
  margin-right: 0.5em
